
@import "animation";
$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower






$lightblue: #3A6EA5;
$blue: #004E98;

$darkgray: #474748; //#C0C0C0;
$lightgray: #EBEBEB;
$green: #8ACB88;
$yellow: #FFDB2B;
$red: #FF3A3A;
$white: #fff;

$serif: 'Roboto Slab', serif;
$sans: 'Abel', Helvetica, Arial, sans;

html, body {
  margin: 0;
}

.hide-mobile {
  display: none;
}

a, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: $serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 20px;
  margin-top: 0;
  @media (min-width: 960px) {
    font-size: 20px;
    line-height: 26px;
  }

  &.funFact {
    border-top: 1px dotted $lightgray;
    font-family: $sans;
    margin-top: 100px;
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }

  &.firstCharacter:first-letter  {
    float: left;
    
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;

    padding-right: 10px;
    font-size: 76px;
    line-height: 62px;
    @media (min-width: 960px) {
      padding-right: 10px;
      font-size: 116px;
      line-height: 104px;
    }
  }

  a {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  font-family: $serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  .bullet {
    position: absolute;
    top: 5px;
    left: 0;
    font-size: 12px;
    @media (min-width: 960px) {
      font-size: 14px;
    }
  }

}

h1 {
  font-family: $sans;
  font-size: 96px;
  color: $white;
  line-height: 84px;
  margin-top: 0;
  font-weight: normal;
  letter-spacing: -2px;
}


h3 {
  font-family: $sans;
  font-size: 32px;
  line-height: 36px;

  @media (min-width: 960px) {
    font-size: 48px;
    line-height: 48px;
  }
  margin-top: 0;
}

#logo {
  margin-bottom: 100px;
}

.logo-main {
  fill:  rgba(235,235,211,0.15);
}

.logo-inset {
  fill: $yellow;
}

.down-arrow {
    display:inline-block;
    border-radius: 40px;
    padding: 10px;
    font-size: 25px;
    color: $lightgray;
    //border: 1px solid $yellow;
}


.slice {
  background: $lightgray;
  padding: 80px 5px;
}

.slice-1 {
  background: $blue;
  color: $yellow;

}

.slice-2 {
  background: $lightgray;
  color: $darkgray;
  padding: 80px 0;
  min-height: 480px;

  p {


      @media (min-width: 960px) {
            font-size: 24px;
            line-height: 36px;
      }
  }
}

.slice-3 {
  background: $darkgray;
  color: $lightgray;
}


.slice-4 {
  background: $lightblue;
  color: $lightgray;

  min-height: 40px;

  @media (min-width: 960px) {
    min-height: 540px;
  }

  .phone {
    margin-top: 20px;
    height:400px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid $lightgray;
    
    @media (min-width: 960px) {
      height: 375px;
      width: 667px;
      border-radius: 30px;
    }


    

    &:after {
      content: ' ';
      position: absolute;

      left: calc(50% - 15px);
      bottom: 5px;
      width: 30px;
      height: 30px;
      border: 1px solid #fff;
       border-radius: 100px;

      @media (min-width: 960px) {
      left: auto;
        right: 10px;
        top: calc(50% - 30px);
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        border-radius: 100px;
      }

    }

    .phone-inside {
      position: absolute;
      overflow: hidden;
      top: 15px;
      left: 15px;
      bottom: 40px;
      right: 15px;
      background: rgba(255,255,255, .5);
      border: 1px solid #fff;
      color: $darkgray;
      font-size: 14px;

      @media (min-width: 960px) {
        font-size: 18px;
        top: 30px;
        left: 30px;
        bottom: 30px;
        right: 80px;
      }
    
      

      .incoming-message {

        float: left;
        margin: 8px 0 8px 20px;
        background-color: $lightgray;
        position: relative;
        -moz-border-radius: 6px 6px 6px 0;
        -webkit-border-radius: 6px 6px 6px 0;
        border-radius: 6px 6px 6px 0;
        width: 80%;
        text-align: left;
        padding: 8px 10px;
        display: inline;

        @media (min-width: 960px) {
          margin: 8px 0 8px 40px;
          width: 65%;
          padding: 10px 20px;
        }

        &:after {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            left: -10px;
            width: 0;
            border-style: solid;
            border-width: 12px 12px 0 0;
            border-color: transparent $lightgray;
        }
      }

      .outgoing-message {
  
        float: right;
        margin: 8px 20px 8px 0;
        background-color: $yellow;
        position: relative;
        -moz-border-radius: 6px 6px 0 6px;
        -webkit-border-radius: 6px 6px 0 6px;
        border-radius: 6px 6px 0 6px;

        width: 80%;
        text-align: left;
        padding: 8px 10px;
        display: inline;

        @media (min-width: 960px) {
          margin: 8px 40px 8px 0;
          width: 65%;
          padding: 10px 20px;
        }

        &:after {
            content: " ";
            display: block;
            position: absolute;
            bottom: 0;
            right: -10px;
            width: 0;
            border-style: solid;
            border-width: 12px 0 0 12px;
            border-color: transparent $yellow;
        }
      }
    }
  }

}

.slice-5 {
  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url('../images/panama-houses-860.jpg');
  min-height: 540px;
  background-color: $yellow;
  color: #333;

  @media (min-width: 960px) {
    background-size: calc(100% - 100px);
    min-height: 540px;
    background-position: center 15%;  
    background-image: url('../images/panama-houses.jpg');
  }

  @media (min-width: 1170px) {
    background-size: 1170px;
    min-height: 540px;
    background-position: center -25%;  
  }
  
  ul {
    margin-top: 10px;
    border-left: 1px dotted #333;
    padding-left: 10px;
  }
}

.slice-6{
  
  background-size: 300%;
  background-repeat: no-repeat;
  background-position: 40% bottom;
  background-image: url('../images/mekong-860.png');
  min-height: 540px;
  background-color: $green;
  color: #333;

  @media (min-width: 960px) {
    background-size: 120%;
    background-position: center 120%;
    min-height: 540px;
    background-image: url('../images/mekong.png');
  }

  @media (min-width: 1300px) {
    background-size: 1600px;
    min-height: 540px;
    background-position: center 110%;  
  }

}

.slice-7{
  position: relative;
  min-height: 540px;
  background-color: $red;
  color: #fff;
  overflow: hidden;

  @media (min-width: 960px) {
    background-size: 120%;
    background-position: center 75%;
    min-height: 540px;
  }


  .funFact {
    margin-top: 80px;
  }

}

.mapSvg {
    position: absolute;

      left: -20%;
      top: 50px;
      max-width: 50%;
      height: 300px;


    @media (min-width: 960px) {
      left: calc((100% - 1170px)/2 + 360px);
      top: 0;
      margin-top: 60px;
      width: 100%;
      height: 540px;
    }
    svg {

      path {
        fill: none;
        stroke: $blue;
      }

    }
  }

.tagline {

  font-size: 24px;
  line-height: 28px;

  @media (min-width: 960px) {
    font-size: 32px;
    line-height: 36px;
  }
}

.social-btns {
  border-left: 1px dotted $darkgray;
  padding-left: 10px;
}

.social-btn {
  color: $blue;
  font-family: $sans;
  dispaly: block;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;

  a {
    text-decoriation: none;
    color: $blue;
  }
}

.clip {
  
  border: 1px solid rgba(255,255,255,.2);
  position: relative;
  margin-bottom: 30px;

  img {
    width: 100%;
  }

  .clip-label {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: $serif;
    font-size: 22px;
    line-height: 28px;
    max-width: 85%;
    color: $blue;
    
    span {
      display: inline;
      background: #fff;
      box-shadow: 5px 0 #fff, -5px 0 0 #fff;
    }
    
  }

}