<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>fcage 2016</title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class='slice slice-1'>
      <div class="container">
          <div class="row">
            <div class="col-sm-7 col-sm-offset-1">

               {{>logo}}

              <h1>feilding cage</h1>

              <p class="tagline">a london-based<br>interactive journalist</p>

            </div>
          </div>
        </div>
      </div>



  <div class='slice slice-2'>
    <div class='container'>
      <div class="row">
        <div class="col-sm-7 col-sm-offset-1">
           

          <p>Hi! I'm a journalist, designer and coder, working at The Guardian as a special projects editor. A typical week consists of producing and editing visual projects and overseeing the development of tools for the team. Work highlights include 2012 election results, the gay rights project, single-serve sites, and visualizing data with social and personalization hooks. More on that later.<p/>

          <p>Priors include AP, where I built an interactive template system (in Flash, yikes!) that allowed AP's global team to collaborate and more than double digital breaking news output. I also produced live 2010 midterm election maps than ran on more than 50 news sites. Before AP, I was a digital designer for TIME.</p>

           <p>I studied journalism at the University of North Carolina and hold a masters in management from New York University.</p>

           <p>See some of my work below.</p>
          
        </div>

        <div class="col-sm-3">

          <div class='social-btns'>
            <div class='social-btn'>
              <div class='glyphicon glyphicon-link'></div>
              <a href='https://www.twitter.com/fcage'>Twitter</a>
            </div>

            <div class='social-btn'>
              <div class='glyphicon glyphicon-link'></div>
              <a href='https://www.linkedin.com/profile/view?id=7177392'>LinkedIn</a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

 

  <!-- panama papers clips -->
  <div class='slice slice-5'>
    <div class='container'>
      <div class="row">

        <div class='col-sm-10 col-sm-offset-1'>
          <h3>The Panama Papers</h3>
        </div>

        <div class='col-sm-6 col-sm-offset-1'>
          <p>I decided for this project that I was only going to focus on mobile. That created limitations and enforced some fairly aggressive editing and attention to detail. I was quite pleased that these graphics translated nicely to desktop and print (<a href='https://twitter.com/fcage/status/716960574568013824'>1</a>, <a href='https://twitter.com/fcage/status/717682622789451776'>2</a>).
        </div>

        <div class='col-md-3'>
          <ul>
            <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="https://www.theguardian.com/news/2016/apr/03/what-you-need-to-know-about-the-panama-papers">UK property empires</a></li>
            <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="https://www.theguardian.com/news/2016/apr/03/panama-papers-money-hidden-offshore">Putin's money trail</a></li>
<!--             <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="https://www.theguardian.com/news/2016/apr/07/how-mossack-fonseca-offshore-helped-fight-modigliani-painting-stolen-nazis-panama-papers">The billion-dollar art collection</a></li> -->
            <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="https://www.theguardian.com/news/2016/apr/03/what-you-need-to-know-about-the-panama-papers">The transfer of wealth</a></li>
          </div>
        </ul>

      </div>
    </div>
  </div>
  <!-- panama papers clips -->

  <!-- mekong river clips -->
  <div class='slice slice-7'>
    
    <div class='container'>

      <div class="row">
        {{>map}}
        <div class='col-md-4 col-sm-offset-1'>

          <h3>NSA FILES: <i>DECODED</i></h3>
          <p>A longform multimedia story that addresses the question "If I'm not doing anything wrong, why does the NSA's data collection matter?"</p>

          <ul>
            <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="http://www.theguardian.com/world/interactive/2013/nov/01/snowden-nsa-files-surveillance-revelations-decoded#section">View the project</a></li>
          </ul>

          <p class='funFact'>RANDOM: I still find it fascintating that there are undersea cables that connect the world. So many cables, in fact, that if you remove country and continent borders, you can still see their presence.</p>
        </div>

      </div>
    </div>




  </div>
  <!-- mekong river clips -->

    <!-- info -->
  <div class='slice slice-2'>

      <div class='container'>
        <div class="row">
          <div class="col-md-7 col-sm-offset-1">
             
                  <p>I’m a hacker journalist with programming skills that are mostly self-taught. I learn to code to explore the limits that I can push new story forms. I’m definitely not going to work on your CMS team &mdash; please no inquiries on that!<p/>

                  <p>I work mostly in javascript, html, sass, d3, ractive, underscore, node and ruby, and has some experience with php and python.</p>
            
          </div>
        </div>
      </div>

  </div>
  <!-- info -->

   <!-- beyond the border clips -->
  <div class='slice slice-4'>
    <div class='container'>
      <div class="row">

        <div class='col-md-4 col-sm-offset-1'>
          <h3>Beyond the border</h3>
          <p>This four-part series takes a 360 degree look at the people, including migrants, ranchers, law enforcement and the human traffickers, who are involved in the US's migration crisis.</p>

          <ul>
            <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="http://www.theguardian.com/world/ng-interactive/2014/aug/06/-sp-texas-border-deadliest-state-undocumented-migrants">View the project</a></li>
          </ul>

          <p class='funFact'>The text messages from smugglers, published in part two, provides disturbing insight into the business of smuggling people and the value of human life.</p>

          
        </div>

        <div class='col-md-7'>
          <div class='phone'>
            <div class='phone-inside'>
                <div class='animation-message animation-1 incoming-message '>U want to cross some people</div>
                <div class='animation-message animation-2 outgoing-message'>How many?</div>
                <div class='animation-message animation-3 incoming-message'>Call me</div>
                <div class='animation-message animation-4 incoming-message'>U can talk to my friend</div>
                <div class='animation-message animation-5 outgoing-message'>Tell him walking I could take 5 at a time and I'll charge him only 1800 a head. Pick up here and deliver in Houston</div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <!-- beyond the border clips -->

  <!-- mekong river clips -->
  <div class='slice slice-6'>
    <div class='container'>
      <div class="row">

        <div class='col-md-5 col-sm-offset-1'>
          <h3>Mekong: a river rising</h3>
          <p>This project was a mobile experiment with a card-based interface that looked to expose readers more broadly to the various sections of the project. Readers are given a general overview by swiping up, and options to explore a topic in more detail by swiping left.</p>

          <ul>
            <li><div class='bullet glyphicon glyphicon-triangle-right'></div><a href="https://www.theguardian.com/environment/ng-interactive/2015/nov/26/the-mekong-river-stories-from-the-heart-of-the-climate-crisis-interactive">View the project</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
  <!-- mekong river clips -->

  <!-- info -->
  <div class='slice slice-2'>
    <div class='container'>
      <div class="row">
        <div class="col-md-7 col-sm-offset-1">
           

          <p>I love experimenting with new story forms, but I think it's important to know what works and what doesn't. This includes ad hoc user testing before launch and user behavior tracking after launch.<p/>

          <p>Mekong: a river rising is a recent example where colleagues across several departments were asked to view multiple iterations of the project during development to understand the level of guidance readers needed to understand the card-based navigation. Post-launch analysis was used to understand that, yes indeed, this choose your own adventure experience was much more effective than a scrolly article on mobile.</p>
          
        </div>
      </div>
    </div>
  </div>
  <!-- info -->

  

  <!-- breaking news clips -->
  <div class='slice slice-3'>
    <div class='container'>
      <div class="row">

        <div class='col-md-10 col-sm-offset-1'>
          <h3>Notable projects from the archive</h3>
        </div>
        <div class='row'>

          <div class='col-md-10 col-sm-offset-1'>
          <!-- clip -->
          <div class="col-md-4">
            <a href="http://www.theguardian.com/us-news/ng-interactive/2015/jun/18/what-happened-at-the-charleston-south-carolina-church-shooting">
              <div class='clip'>
                <img src='images/tout-charleston.jpg'>
                <div class='clip-label'>
                  <span>What happened at the Charleston church shooting?</span>
                </div>
              </div>
            </a>
          </div>
          <!-- clip -->
          <div class="col-md-4">
            <a href="http://www.theguardian.com/uk-news/ng-interactive/2015/aug/24/shoreham-airshow-crash-everything-we-know-so-far">
              <div class='clip'>
                <img src='images/tout-shoreham.jpg'>
                <div class='clip-label'>
                  <span>Shoreham airshow crash: everything we know so far</span>
                </div>
              </div>
            </a>
          </div>
          <!-- clip -->
          <div class="col-md-4">
            <a href="http://www.theguardian.com/uk-news/ng-interactive/2015/aug/28/words-migrant-refugee-immigration">
              <div class='clip'>
                <img src='images/tout-migrant-words.jpg'>
                <div class='clip-label'>
                  <span>Migrant. Refugee. Human. Which word do you use?</span>
                </div>
              </div>
            </a>
          </div>


          <!-- clip -->
          <div class="col-md-4">
            <a href="http://hosted.ap.org/specials/interactives/_national/oil_spill">
              <div class='clip'>
                <img src='images/tout-gulf-spill.jpg'>
                <div class='clip-label'>
                  <span>Gulf oil spill tracker</span>
                </div>
              </div>
            </a>
          </div>


          <!-- clip -->
          <div class="col-md-4">
            <a href="http://www.theguardian.com/environment/ng-interactive/2015/mar/16/the-biggest-story-in-the-world">
              <div class='clip'>
                <img src='images/tout-biggest-story-podcast.jpg'>
                <div class='clip-label'>
                  <span>The biggest story in the world - a podcast</span>
                </div>
              </div>
            </a>
          </div>


          <!-- clip -->
          <div class="col-md-4">
            <a href="http://www.theguardian.com/world/interactive/2012/oct/election-2012-vote-makes-difference">
              <div class='clip'>
                <img src='images/tout-vote-difference.jpg'>
                <div class='clip-label'>
                  <span>Will your vote make a difference?</span>
                </div>
              </div>
            </a>
          </div>
          <!-- clip -->
          <div class="col-md-4">
            <a href="http://www.theguardian.com/world/interactive/2012/may/08/gay-rights-united-states">
              <div class='clip'>
                <img src='images/tout-gay-rights.jpg'>
                <div class='clip-label'>
                  <span>Gay rights in the US, state by state</span>
                </div>
              </div>
            </a>
          </div>

          <!-- clip -->
          <div class="col-md-4">
            <a href="http://content.time.com//time/2007/neworleansmap/katrina.swf">
              <div class='clip'>
                <img src='images/tout-new-orleans.jpg'>
                <div class='clip-label'>
                  <span>2007: How New Orleans has changed</span>
                </div>
              </div>
            </a>
          </div>

          <!-- clip -->
          <div class="col-md-4">
            <a href="http://content.time.com/time/interactive/0,31813,1681791,00.html">
              <div class='clip'>
                <img src='images/tout-time.jpg'>
                <div class='clip-label'>
                  <span>Who was TIME's Person of the Year?</span>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>



      </div>
    </div>
  </div>
  <!-- end features clips -->    



    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    
    <!-- build:js scripts/main.js -->
    <script src="scripts/main.js"></script>
    <!-- endbuild -->
  </body>
</html>
